header{
    background-color: beige;
    display: flex;
}
h1{margin: auto;
justify-content: center;
font-size: 400%;
font-family: 'Lucida Sans', 'Lucids Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Segoe UI', Geneva, Verdana, sans-serif;
}